*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    --nav_color:rgb(58, 77, 57);
    --dl_color:rgb(58, 77, 57);
    --body_color:rgb(255, 248, 232);
    --card_color:rgb(79, 111, 82);
    --box_shadow:rgb(128, 102, 67);
}
body{
    overflow-x: hidden;
    width: 100vw;
    background-color: var(--body_color);
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav{
    background-color: var(--nav_color);
    display: grid;
    height: 10vh;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    align-items: center;
    box-shadow: 1px 2px 5px  var(--box_shadow);
}

h1{
    display: flex;
    align-items: center;
    font-size: 2em;
    gap: 5px;
    padding: 0 20px; 
}
.bookshelf{
    fill: white;
    width: 40px;

}
.d_l_mode{
    width: 20px;
}
.btnsNav{
    justify-self: end;
    padding-right: 40px; 
    display: flex;
    align-items: center;
    height: 100%;
    width: 200px;
    justify-content: space-between;
}

button:not([class="exampleBtn"]){
    padding: 13px 15px;
    justify-self: center;
    appearance: none;
    border: none;
    background-color:rgb(255, 251, 246);
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 1px 2px 4px rgb(128, 102, 67);
}
button:not([class="exampleBtn"]):hover{
    background-color: rgb(148, 173, 147);
    color: white;
    fill: white;
    border: 2px solid white;
    font-size: 0.8em;
}
button:not([class="exampleBtn"]):active{
    background-color: rgb(115, 144, 114);
    color: white;
    fill: white;
    border: 2px solid white;
}



dialog{
    border: none;
    background-color: var(--dl_color);
    margin: auto;
    min-width: clamp(270px, 25%, 25%);
    color: white;
    border-radius:  15px ;
    height: 60%;
}

form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 5px;
    height: 100%;


}
form > h3{
    grid-area: 1/1/2/3;
    justify-self: center;
    font-size: 1.5em;
}

.exampleBtn{
    grid-area: 1/2/2/3;
    justify-self: center;
    padding: 0;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
}
.rdBook{
    width: 40px;
}



input:not([type='radio']){
    align-self: end;
    font-size: 1em;
    padding: 3px;
    justify-self: center;
    border-radius: 4px;
    padding: 6px 12px;
    border: 2px solid transparent;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
    background: rgb(251, 251, 251);
}
input:not([type='radio']):focus{
    outline: none;
    border: 2px solid black;
}


#title, label[for='title']{
    grid-area: 2/1/3/3;
}
#author, label[for='author']{
    grid-area: 3/1/4/3;
}
#pages, label[for='pages']{
    grid-area: 4/1/5/3;
}
#read, label[for='read']{
    grid-area: 5/1/6/2;

}
#tbr, label[for='tbr']{
    grid-area: 5/2/6/3;
}

label[for='read'], label[for='tbr']{
    justify-self: center;
    align-self: center;
}
#read, #tbr{
    align-self: end;
    height: 15px;
}

label:not(.readLabel){
    align-self: start;
    justify-self: center;
    grid-column: 1/2;

}

.bookDisplay{
    height: 90vh;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 300px;
    gap: 10px;
    justify-items: center;
}

.book{
    height: 90%;
    width: 200px;
    padding: 10px;
    background-color: var(--card_color);
    border-radius: 5px;
    box-shadow: 5px 5px 5px var(--box_shadow);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr 1fr 1fr 2fr;
    justify-items: center;
    align-items: center;

}
.b_title{
    grid-area: 1/1/2/3;
}

.b_icon{
    grid-area: 2/1/3/3;
    width: 100px;
    transform: rotate(-90deg);
}

.b_author{
    grid-area: 3/1/4/3;
}
.b_pages{
    grid-area: 4/1/5/3;
}
.b_pages::before{
    content: 'Pages: ';
}
.b_read{
    grid-area: 5/1/6/2;
}
.b_delete{
    
    height: 15px;
    width: 15px;
    background-image: url('https://cdn-icons-png.flaticon.com/512/10319/10319444.png');
    background-position: center; 
    background-repeat: no-repeat;
    background-size: contain;
    grid-area: 5/2/6/3;
}
.b_del_img{
    
    width: 20px;
}